<h1>Welcome to Bookers!!</h1>
<P>In Bookers</P>

<P>you can share and exchange your opinions , inpressions , and emotions</P>

<P>about various books!</P>

<P><%= link_to "Log in", new_user_session_path %></P>

<P><%= link_to "Sign up", new_user_registration_path %></P>